@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); /*from left move in*/
  }
  40% {
    transform: rotate(10deg);
  }
  80% {
    transform: translateX(3rem);
    transform: rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: translate(0); /* mean look like right now*/
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); /*from left move in*/
  }
  40% {
    transform: rotate(10deg);
  }
  80% {
    transform: translateX(-3rem);
    transform: rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: translate(0); /* mean look like right now*/
  }
}


// terminal
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}








.animation-left {
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards; /* 0% will not be applied before animation starts */
}
.animation-right {
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards; /* 0% will not be applied before animation starts */
}