*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; 

  @include respond(tab-land) {
    // width < 1200
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12, 12/16
  }
}

// The box-sizing property allows us to include the padding and border in an element's total width and height.
body {
  box-sizing: border-box;
  padding: 0;
}


div.container {
  width: auto;
  margin: 0 auto;
}


