.heading-main {
    display: block;
    font-size: 4rem;
    margin-bottom: 2.5rem;
    letter-spacing: .2rem;

    @include respond(phone) {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    &__white {
        color: $color-white;
        display: block;
        text-align: center;
        text-shadow: -.6rem .5rem 1rem rgba($color-text-shadow, 0.55);
        transition: all .3s;
        font-size: 4rem;

        &:hover {
            transform: skewY(2deg) skewX(2deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-primary, 0.9);
        }
    }
}

.heading-green-dark {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 4rem;
    color: $color-main;
    @include respond(phone) {
        margin-bottom: 2rem;
    }
}

.move-heading {
    font-weight: bold;
    text-shadow: -.6rem .5rem 1rem rgba($color-text-shadow, 0.55);
    transition: all 0.2s;
    display: inline-block;

    &:hover {
        transform: skewY(2deg) skewX(2deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-primary, 0.9);
    }
  }
  