.heading-white {
    font-weight: bold;
    margin-bottom: 4rem;
}

.heading-green-dark {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 4rem;
    color: $color-main;
}

.move-heading {
    font-weight: bold;
    text-shadow: -.6rem .5rem 1rem rgba($color-text-shadow, 0.55);
    transition: all 0.2s;
    display: inline-block;

    &:hover {
        transform: skewY(2deg) skewX(2deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-primary, 0.9);
    }
  }
  