// color
$color-primary: #134e91;
$color-primary-light: #9cd8f0;
$color-primary-dark: #a9a9b1;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-blue-light: #48a0f3;
$color-blue-dark: #115b8d;

$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: rgb(218, 214, 214);

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-project: #f9f7f6;

$color-text-shadow: rgba(50, 113, 201, 0.55);
$color-main: #0b6071;
$color-main-light: #478996;

// font
$default-font-size: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


// alert
$color-alert: #f53a43;
$color-red: red;
$color-green: green;

//terminal
$color-term-bar: #bbb;
$color-term-screen: #151515;
$color-term-btn-close1: #ff3b47;
$color-term-btn-close2: #9d252b;

$color-term-btn-min1: #ffc100;
$color-term-btn-min2: #9d802c;

$color-term-btn-zoom1: #00d742;
$color-term-btn-zoom2: #049931;

$color-term-title: #9CD9F0;
$color-term-context: #CDEE69;
