{%extends "layout.html"%}
{%block content%}

<div class="content-guide list-group">
  <img class="picture" src="https://user-images.githubusercontent.com/35472776/42259943-5b241fea-7f17-11e8-861c-412becf1d44b.jpg">
  <a class="list-group-item list-group-item-action" href="#headingOne">About Me</a>
    <a class="list-group-item list-group-item-action" href="#headingTwo">Investment</a>
  <a class="list-group-item list-group-item-action" href="#gdp_div">GDP Map</a>
    <a class="list-group-item list-group-item-action" href="#emailform">Contact Me</a>
</div>

<div class="container-about">

<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
          <i class="fa fa-hand-o-right">
        <button class="btn btn-link collapsed move-heading" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          About Me
        </button>
          </i>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          Currently, I am a graduate student of IT department at California Lutheran University.<br>
          I have experience of web development, SQL database, NoSQL database, data analysis, and data visualization.<br>
          I usually spend most of my spare time for taking the online course to improve my coding skills.<br>
          <br>
          On the other hand, I am crazy about stock markets.<br>
          Normally, I read financial books and do research on stock/ETF investments every single day.<br>
          I have been investing in Taiwan stock market for a while.<br>
          However, I decided to allocate my asset widely by investing in low-cost ETFs a few years ago.<br>
          Therefore, I consistently invest in ETFs launched by Vanguard Group.<br>
          Feel free to take a look at my investments.<br>
      </div>
    </div>

      <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
          <i class="fa fa-hand-o-right">
        <button class="btn btn-link collapsed move-heading" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
           My Conception of Stock Investment
        </button>
          </i>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
          Basically, I am an index investor. Index investing is a strategy which is designed to match a market instead of beating it. I believe that after costs and taxes, index investors are able to beat average active investors in a market. Therefore, the majority of my investments are ETFs launched by Vanguard Group. I think that Vanguard Group provides high-quality, low-cost ETFs. Typically, I investing in ETFs is more interested in a diversified portfolio and want to keep my investment for a long period of time. However, I keep roughly 10% of my portfolio in the individual stock, which I am familiar with.
      </div>
    </div>

      <div class="card-header" id="headingThree">
      <h5 class="mb-0">
          <i class="fa fa-hand-o-right">
        <button class="btn btn-link collapsed move-heading" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
           Cost of Investment
        </button>
          </i>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
          I think that costs can effects investment returns significantly even though the costs seem low. Investors cannot ignore the power of compounding of costs along with investment returns. In addition, no matter investors' assets increase or decrease, they must pay an annual fee. In other words, investors not only lose the annual fee they pay but also lose growing money might have had for years into the future. In short, investors should not ignore costs because the costs of investment are extremely harmful to investments.

      </div>
    </div>

      <div class="card-header" id="headingFour">
      <h5 class="mb-0">
          <i class="fa fa-hand-o-right">
        <button class="btn btn-link collapsed move-heading" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
           Asset allocation
        </button>
          </i>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
          The purpose of the implement of asset allocation is to balance risk versus reward by adjusting the percentage of each asset in the portfolio. In my opinion, there is no "perfect" asset allocation for everyone. It depends on what your goal is and what kind of asset you familiar with. In short, you have to start with the big picture instead of details. For me, I am allocating my assets by continent. There is an interactive-app for world GDP below, feel free to play around. We can see United States have highest GDP. There is why I allocate most of my asset within United States.
          <br>
          <br>
          <br>
      </div>
    </div>

  </div>
</div>
</div>
    <div class="clear-float"></div>


    <div class="gdp_div" id="gdp_div">
        <h2>Here is an interactive map for world GDP<br>(Gross Domestic Product).</h2>
        <iframe class="gdp_map" frameborder="0" src="https://s777610.github.io/2017_world_GDP_map/">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>








<div class="emailform" id="emailform">
    <h2>Contact Me</h2>
    <form action="https://formspree.io/s777610@gmail.com" method="POST">

      <div class="form-group">
        <label for="sender_email">Your Email address</label>
        <input type="email" class="form-control" id="sender_email" placeholder="Your email" name="_replyto" required>
      </div>

      <div class="form-group">
        <label for="sender_email">Subject</label>
          <input type="text" class="form-control" name="_subject" required>
      </div>

      <div class="form-group">
        <label for="textarea">Content</label>
        <textarea class="form-control" id="textarea" rows="3" name="message" required></textarea>
      </div>

        <div class="form-group">
        <input class="btn btn-info btn-effect" type="submit" value="Send">
        <input class="btn btn-outline-info" type="reset">
        </div>
    </form>

</div>




<div class="backtotop">
    <p><a href="#top">Back to top</a></p>
</div>




{%endblock%}
