
{%extends "layout.html"%}
{%block content%}

    <div class="about">
        <h1>My ETF Investment</h1>
        <p>ETF stand for exchange-traded fund. <br>
            ETF is a marketable security that tracks an index, a commodity, bonds, or a basket of assets like an index fund.</p>
    </div>


    <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Ticker</th>
                  <th>Chart</th>
                  <th>Name</th>
                  <th>Open</th>
                  <th>Close</th>
                  <th>Status</th>
                  <th>Last Updated</th>
                </tr>
              </thead>

              <tbody>
              {% for security in securitys %}
              <tr>
                  <td>{{ security.ticker}}</td>
                  <td><a href="{{ url_for('plot_security', name=security.name, ticker=security.ticker) }}">Click here</a></td>
                  <td>{{ security.name}}</td>
                  <td>{{ security.open}}</td>
                  <td>{{ security.close}}</td>
                  {% if security.today_status == 'Increase' %}
                  <td style="color: forestgreen">{{ security.today_status}}</td>
                  {% else %}
                  <td style="color: red">{{ security.today_status}}</td>
                  {% endif %}
                  <td>{{ security.last_updated }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

{%endblock%}