
{%extends "layout.html"%}
{%block content%}

    <div class="jumbotron">
        <h1 style="font-size: 25px;">Welcome to my personal blog!</h1>
        <p>I am a software developer and a stock investor.</p>
        <p>I list all stocks and ETFs I am holding on this site.</p>
        <p>Feel free to explore my site.!</p>
    </div>


<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          About Me:
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          Currently, I am a graduate student of IT department at California Lutheran University.<br>
          I have experience of web development, SQL database, NoSQL database, data analysis, and data visualization.<br>
          I usually spend most of my spare time for taking the online course to improve my coding skills.<br>
          <br>
          On the other hand, I am crazy about stock markets.<br>
          Normally, I read financial books and do research on stock/ETF investments every single day.<br>
          I have been investing in Taiwan stock market for a while.<br>
          However, I decided to allocate my asset widely by investing in low-cost ETFs a few years ago.<br>
          Therefore, I consistently invest in ETFs launched by Vanguard Group.<br>
          Feel free to take a look at my investments.<br>
      </div>
    </div>

      <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
           My Conception of Stock Investment:
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
          Currently, I am a graduate student of IT department at California Lutheran University.<br>
          I have experience of web development, SQL database, NoSQL database, data analysis, and data visualization.<br>
          I usually spend most of my spare time for taking the online course to improve my coding skills.<br>
      </div>
    </div>

  </div>



</div>

{%endblock%}