<!DOCTYPE html>
<html class="html-home">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wilson's Investment</title>
  <link rel="shortcut icon" type="image/png" href="../static/image/w.png">
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
</head>


<body>
  <img class="logo" src="https://user-images.githubusercontent.com/35472776/44683038-eb093480-a9f9-11e8-84ca-4fdfe1499ee8.png"
    alt="Test Image">


  <div class="search">
    <p>Looking for chart?</p>
    <form action="{{url_for('search')}}" method='POST'>
      <input class="search__form search__form_input" type="text" placeholder="Enter symbol/ticker" name="ticker" required>
      <button class="search__form search__form_btn" type="submit"> Search </button>
    </form>
  </div>

  <div class="clear-float"></div>

  <ul class="menu">
    <li class="fa fa-home"><a href="{{ url_for('home') }}"> Home</a></li>
    <li class="fa fa-address-book"><a href="{{ url_for('about') }}"> About</a></li>
    <li class="fa fa-line-chart"><a href="{{ url_for('securitieslist', type='etf') }}"> ETF</a></li>
    <li class="fa fa-line-chart"><a href="{{ url_for('securitieslist', type='stock') }}"> Stock</a></li>
    <li class="fa fa-file-text-o"><a href="{{ url_for('resume') }}"> Resume</a></li>
  </ul>
  <div class="clear-float"></div>

  <section class="welcome" id="welcome">
    <div class="welcome__text-box">
        <h1 class="animation-left"><span class="heading-main" >Wilson's investing blog!</span></h1>
        <p class="animation-right">I am a software developer and a stock investor.</p>
        <p class="animation-left">I list most of stocks and ETFs I am holding on this site.</p>
        <p class="animation-right margin-bottom-home">Feel free to explore my site!</p>
        <a class="btn btn--blue" href="{{ url_for('about') }}"> Explore</a>
        <a class="btn btn--green" href="#popup">Contact Me</a>
    </div>
  </section>



  <script src="/static/js/main.js"></script>


  <div class="clear-float"></div>

  <footer class="footer footer-home">
    <ul class="social">
      <li> <a href="https://www.facebook.com/profile.php?id=100000339745920" target="_blank"> <i class="fa fa-facebook-square"></i></a></li>
      <li> <a href="https://github.com/s777610" target="_blank"> <i class="fa fa-github"></i></a></li>
      <li> <a href="https://www.linkedin.com/in/weichenghung/" target="_blank"> <i class="fa fa-linkedin-square"></i>
        </a></li>
    </ul>
    <p> Copyright &copy; Wei Cheng Hung 2018 All Rights Reserved</p>
  </footer>


  




  <div class="popup" id="popup">
      <div class="popup__content">
    <div class="popup__form">
      <form class="contact" action="https://formspree.io/s777610@gmail.com" method="POST">
        <h2 class="heading-green-dark">Contact Me</h2>
        <a href="#welcome" class="popup__close">&times;</a>
    
          <div class="contact__group">
            <label class="contact__label" for="sender_email">Email address</label>
            <input class="contact__input" type="email"  id="sender_email" placeholder="example@gmail.com" name="_replyto" required>
          </div>
    
          <div class="contact__group">
            <label class="contact__label" for="sender_email">Subject</label>
            <input class="contact__input" type="text"  name="_subject" required>
          </div>
    
          <div class="contact__group">
            <label class="contact__label" for="textarea">Content</label>
            <textarea class="contact__input"  id="textarea" rows="3" name="message" required></textarea>
          </div>
    
          <div class="contact__group">
            <input class="contact__btn contact__btn__send" type="submit" value="Send">
            <input class="contact__btn contact__btn__reset" type="reset">
          </div>
      </form>
    </div>
    </div>
  </div>

</body>

</html>