<!DOCTYPE html>
<html>
  <head>
      <title>Stock</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <header>
          <h1 id="demotext" class="logo">Wilson's Blog</h1>

          <div class="clear-float"></div>
          <img src="https://user-images.githubusercontent.com/35472776/42259943-5b241fea-7f17-11e8-861c-412becf1d44b.jpg">
          <br>
          <br>
          <ul class="menu">
              <li class="fa fa-home"><a href="{{ url_for('home') }}"> Home</a></li>
              <li class="fa fa-facebook-square"><a href="https://www.facebook.com/profile.php?id=100000339745920" target="_blank"> Facebook</a></li>
              <li class="fa fa-linkedin-square"><a href="https://www.linkedin.com/in/weichenghung/" target="_blank"> LinkedIn</a></li>
              <li class="fa fa-github"><a href="https://github.com/s777610" target="_blank"> GitHub</a></li>
              <li class="fa fa-line-chart"><a href="{{ url_for('etf') }}"> ETF</a></li>
              <li class="fa fa-line-chart"><a href="{{ url_for('stock') }}"> Stock</a></li>
              <li class="fa fa-file-text-o"><a href="https://s777610.github.io/resume/"> Resume</a></li>
          </ul>
    </header>
    <script type="text/javascript">
        $("header img").hover(function () {
            $(this).css("width", "400px");
        }, function () {
            $(this).css("width", "160px");

        });

        </script>



    <div class="container">
        {%block content%}  <!--this layout.html is base html page-->
        {%endblock%}       <!--child html are home.html, eft.html-->
    </div>


  <div class="footer">
  <p>&copy; 2018 Wei Cheng, Hung</p>
</div>
  </body>
</html>
