<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wilson's Investment</title>
    <link rel="shortcut icon" type="image/png" href="../static/image/w.png" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="header">
      <div class="header__logo">
        <a href="{{ url_for('home') }}">
          <img
            class="logo"
            src="https://user-images.githubusercontent.com/35472776/44683038-eb093480-a9f9-11e8-84ca-4fdfe1499ee8.png"
            alt="Logo"
          />
        </a>
      </div>

      <div class="header__search">
        <p>Looking for chart?</p>
        <form action="{{url_for('search')}}" method="POST">
          <input
            class="search__form search__form_input"
            type="text"
            placeholder="symbol/ticker"
            name="ticker"
            required
            autocomplete="off"
          />
          <button class="search__form search__form_btn" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>

    <div class="menu menu-layout">
      <span class="menu__toggle" id="js-navbar-toggle">
        <i class="fa fa-navicon"></i>
      </span>
      <div class="menu__navbar" id="js-menu">
        <ul class="menu__navbar__flex-box">
          <li class="fa fa-home"><a href="{{ url_for('home') }}"> HOME</a></li>
          <li class="fa fa-address-book">
            <a href="{{ url_for('about') }}"> ABOUT</a>
          </li>
          <li class="fa fa-code">
            <a href="{{ url_for('project') }}"> PROJECT</a>
          </li>
          <li class="fa fa-line-chart">
            <a href="{{ url_for('securitieslist', type='etf') }}"> ETF</a>
          </li>
          <li class="fa fa-line-chart">
            <a href="{{ url_for('securitieslist', type='stock') }}"> STOCK</a>
          </li>
          <li class="fa fa-file-text-o">
            <a href="{{ url_for('resume') }}"> RESUME</a>
          </li>
        </ul>
      </div>
    </div>

    {%block content%} {%endblock%}

    <footer class="footer">
      <ul class="social">
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=100000339745920"
            target="_blank"
          >
            <i class="fa fa-facebook-square"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/s777610" target="_blank">
            <i class="fa fa-github"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/weichenghung/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <p>Copyright &copy; Wei Cheng Hung 2018 All Rights Reserved</p>
    </footer>

    <script>
      var mainNav = document.getElementById("js-menu");
      var navBarToggle = document.getElementById("js-navbar-toggle");

      navBarToggle.addEventListener("click", function() {
        mainNav.classList.toggle("active");
      });
    </script>
  </body>
</html>
