{%extends "layout.html"%}
{%block content%}
<link rel="stylesheet" href={{cdn_css | safe}} type="text/css" />

<script type="text/javascript" src={{cdn_js | safe}}></script>

    <div class="about">
        <h1>{{ company_name }}</h1>

        {% if today_status == 'Increase' %}
            <h1 class="fa fa-arrow-up" style="color: {{name_color}};font-size:48px">{{ current_price }} <small>USD</small></h1>
        {% else %}
            <h1 class="fa fa-arrow-down" style="color: {{name_color}};font-size:48px">{{ current_price }} <small>USD</small></h1>
        {% endif %}
        <p>NYSEARCA: {{ ticker }}</p>


        <p>Daily Return: {{ daily_return }}</p>

        <p style="font-size: 30px">Cumulative Return: {{ cum_return }} %</p>

        <p>Last Updated: {{ last_updated }}</p>
    </div>
<div class="plot">
{{script1 | safe}}
{{div1 | safe}}
</div>
{%endblock%}


