{%extends "layout.html"%}
{%block content%}


<section class="container-plot">
    <div class="plot-info">
        {% if text %}
            <div style="text-align: center; font-size: 20px; margin-bottom: 900px;" class="alert alert-danger" role="alert">{{ text }}</div>
        {% endif %}

        {% if plot %}
            {% if plot.name %}
                <h1 class="move-heading margin-bottom-medium">{{ plot.name }}</h1>
            {% endif %}

            <p id="top">NYSEARCA: {{ plot.ticker }}</p>
            {% if plot.today_status == 'Increase' %}
                <h1 class="fa fa-arrow-up" style="color: {{plot.name_color}};font-size:48px">{{ plot.current_price }} <small>USD</small></h1>
            {% else %}
                <h1 class="fa fa-arrow-down" style="color: {{plot.name_color}};font-size:48px">{{ plot.current_price }} <small>USD</small></h1>
            {% endif %}

            {% if daily_return %}
                <p>Daily Return: {{ daily_return }} %</p>
                <p>Cumulative Return: {{ cum_return }} %</p>
            {% endif %}
            <p>Last Updated: {{ plot.last_updated }}</p>
        {% endif %}
    </div>

    <div class="plot">
        {% if plot %}
            {{plot.div1 | safe}}
            <br>
            <br>
            {{plot.div2 | safe}}
            <br>
            <br>
            {{plot.div3 | safe}}
        {% endif %}
    </div>

</section>


<div class="backtotop">
    <a href="#top" class="btn btn--backtop">Back to top</a>
</div>

{%endblock%}