{%extends "layout.html"%}
{%block content%}


    <div class="container-plot">
        <h1 id="top">{{ plot.name }}</h1>

        {% if plot.today_status == 'Increase' %}
            <h1 class="fa fa-arrow-up" style="color: {{plot.name_color}};font-size:48px">{{ plot.current_price }} <small>USD</small></h1>
        {% else %}
            <h1 class="fa fa-arrow-down" style="color: {{plot.name_color}};font-size:48px">{{ plot.current_price }} <small>USD</small></h1>
        {% endif %}

        <p>NYSEARCA: {{ plot.ticker }}</p>

        <p>Daily Return: {{ daily_return }} %</p>

        <p style="font-size: 30px;">
            Cumulative Return: {{ cum_return }} %
        </p>
</p>



<div class="plot">
{{plot.div1|safe}}
    <br>
    <br>
{{plot.div2|safe}}
    <br>
    <br>
{{plot.div3|safe}}
</div>
    </div>


<div class="backtotop">
    <p><a href="#top">Back to top</a></p>
</div>

{%endblock%}
