{%extends "layout.html"%}
{%block content%}

<div class="content-guide">
  <img class="picture" src="https://user-images.githubusercontent.com/35472776/42259943-5b241fea-7f17-11e8-861c-412becf1d44b.jpg" alt="picture">
  <a class="content-guide-item" href="#computer-skill">Computer Skills</a>
  <a class="content-guide-item" href="#education">Education</a>
  <a class="content-guide-item" href="#work-experience">Work Experience</a>
  <a class="content-guide-item" href="#project-experience">Project Experience</a>
  <a class="content-guide-item" href="#pro-development">Competition</a>
  <a class="content-guide-item" href="#popup">Contact Me</a>
</div>



<div class="container-resume">
    <a href={{ url_for('download') }} target="blank"> <button class="btn resume__btn btn-pulsate"> Download Resume</button></a>
  <div class="resume">
    <h2 class="move-heading" id="computer-skill">COMPUTER SKILLS</h2>
    <hr>
    <h3>Programming Language</h3>
    <ul>
      <li>Python(Excellent), Javascript(Advanced), CSS(Advanced), SQL(Advanced), HTML, PHP, R</li>
    </ul>
    <h3>Application & Framework</h3>
    <ul>
      <li>React, Vue, Jquery, SASS, Git, Flask, MySQL, SQLite, PostgreSQL, MongoDB, Heroku, AWS, MapReduce</li>
    </ul>

    

    <h2 class="move-heading" id="education">EDUCATION</h2>
    <hr>
    <h3>California Lutheran University, Thousand Oaks, CA</h3>
    <ul>
      <li>Master of Science in Information Technology (current GPA: 3.9/4.0)</li>
    </ul>
    <h3>Chung Yuan Christian University, Taoyuan, Taiwan</h3>
    <ul>
      <li>Bachelor of Mechanical Engineering</li>
    </ul>

    

    <h2 class="move-heading" id="work-experience">WORK EXPERIENCE</h2>
    <hr>

    <h3>Web Scraping Engineer Intern - Tap Series, Westlake, California</h3>
    <ul>
      <li>In charge of scraping financial data from several financial websites with Python, Beautifulsoup4.</li>
      <li>Visualizing data, and generating reports with Python, Matplotlib, Seaborn.</li>
      <li>Working on testing MySQL and SQLite database of online course platform.</li>
      <li>Testing the online course app with React.js.</li>
    </ul>

    <h3>Back-End Web Developer - Locomotives, Changhua, Taiwan</h3>
    <ul>
      <li>In charge of SQL database and backend development with Python, SQLAlchemy.</li>
      <li>Work on customer data visualization with Python, Matplotlib, Seaborn.</li>
      <li>Build front-end with HTML5, SCSS, JS.</li>
    </ul>

    <h3>Technical Support - Gemeinschaftsdiensten e.v, Germany</h3>
    <ul>
      <li>Working on set up audio equipment.</li>
    </ul>

    

    <h2 class="move-heading" id="project-experience">PROJECT EXPERIENCE</h2>
    <hr>

    <h3><a href="https://github.com/s777610/Flask_RESTful_API_with_SQL" target="_blank">RESTful_API_with_SQL(Back-End
        Development)</a></h3>
        <p>This API is deployed on Heroku, provide GET, POST, PUT, DELETE requests. 
          The data can be stored in SQLite locally or PostgreSQL remotely. 
          This API allows users to store some online store data in the database. 
          It can generate access-token and refresh-token for users. 
          The point of this API is implementing authentication. 
          <span class="cs-skill">(Python, Flask, Flask_RESTful, Flask-JWT-extended, Flask-SQLAlchemy)</span>.</p>


    <h3><a href="https://github.com/s777610/sing-color-with-payment" target="_blank">Sing-Color(Full Stack Development)</a></h3>
      <p>I built this online store application for my friends to sell their products. 
        This is a handicraft online store. I used Flask, which is a framework of Python, 
        to build the back-end for this application. 
        The front-end was built by HTML5, CSS3, SASS, and Javascript . 
        This online store allows users to make payments and receive the email confirmation. 
        On the other hand, the seller will receive the order email as well. 
        The order data are stored in SQLite locally or PostgreSQL remotely.
      <span class="cs-skill">(Python, Flask, HTML5, CSS3, Javascript, Stript, SQL)</span>.</p>

      <h3><a href="https://github.com/s777610/Social-Blog-Full-Stack" target="_blank">Social Media Blog (Full Stack Development)</a></h3>
      <P>
          This App, which was built by flask, allows users to register and login first. 
          Then, users are able to create the blog post, update the profile picture, edit and delete the blog post. 
          All data of users are stored in SQLite database for testing only. 
          This app takes an advantage fo flask-sqlalchemy to create database object. 
          It uses flask_migrate to upgrade the database in case of needs. 
          <span class="cs-skill">(Python, Flask, SQL, HTML5, CSS)</span>.
      </P>

      <h3><a href="https://github.com/s777610/BurgerBuilder-React" target="_blank">Burger Builder (Front End Development)</a></h3>
      <P>
          I took a complete react course on Udemy and came up with this mobile-friendly app. 
          The app was built by React and Redux. It stores data of users on Firebase, 
          which provide services of back-end and database. It allows users to register, 
          login, order, and so on. The link of the demo application is on my Github page.
          <span class="cs-skill">(React, Redux, CSS, HTML, Firebase, JWT, AJAX)</span>.
      </P>


    <h3><a href="https://github.com/s777610/blockchain_cryptocurrency" target="_blank">Half Half Coin System
        (Block-Chain Development)</a></h3>
    <p>It allows users to create wallets first. The key pair(public key and private key) is generated when creating the wallet. 
      Then, users can start mining the new block in order to get rewards. 
      The meaning of mining is doing "proof of work", which is a processing of guessing the number proof.
      The level of mining difficulty is adjustable. 
      Users can send cryptocurrency to other users by assigning a public key of the recipient. 
      All transactions data will be stored in open transactions temporarily. 
      After mining a new block, the data of open transactions is stored in the new block, 
      and open transactions will be an empty list. Majority of the process includes different verifications in order to make sure the system is secure.
      All node can make HTTP requests to their peer nodes in order to share their data. 
      <span class="cs-skill">(Python, HTML5, CSS, Vue)</span>.</p>
    
    <h3><a href="https://github.com/s777610/Stock-ETF_investment_web" target="_blank">Stock/ETF investment Web-App
        (Data Analysis and Visualization)</a></h3>
    <P>
        This Web-App shows some of my investment. 
        I used Flask as framework to build the web and deployed it on AWS. 
        It retrieves financial data from "IEX" API and scrapes data from some financial site by Beautifulsoup4. 
        After that, it uses pandas to clean data and manipulate data.
        It analyzes data and makes interactive charts on the site by using Pandas and Plotly. 
        It allows users to search any security in the US market. All data are stored in SQLite. 
        I use this App very often to check my portfolio. 
        <span class="cs-skill">(Python, SQL, Javascript, SCSS, HTML5, AWS)</span>.
    </P>
    
    

  <h3><a href="https://github.com/s777610/Flask_RESTful_API_with_SQL" target="_blank">RESTful API with SQL (Database & Back End Development)</a></h3>
  <P>
      This API is deployed on Heroku, provide GET, POST, PUT, DELETE requests. 
      The data can be stored in SQLite locally or PostgreSQL remotely. 
      This API allows users to store some online store data in the database. 
      It can generate access-token and refresh-token for users. 
      The point of this API is implementing authentication. 
      <span class="cs-skill">(Python, Flask, Flask_RESTful, Flask-JWT-extended, Flask-SQLAlchemy)</span>.
  </P>

  <h3><a href="https://github.com/s777610/price_alert_for_olinestore" target="_blank">Price Alerts for Online Store
    (Full Stack Development)</a></h3>
  <p>
      This Web-App was built by Flask, a microframework of Python. 
      It is able to track the price of items from the online store. 
      It can notify users when the prices of items drop. 
      The way of notifying users is using Mailgun API to send emails to users.
      The application checks the prices every 10 minutes. 
      All data is stored in MongoDB. 
      All passwords of users are encrypted by pbkdf2. 
      Utilizing RE to find the specific store for users. 
      The price of item could be found by using beautifulsoup to parse html. 
      Only admin can add the new store. 
      <span class="cs-skill">(Python, MongoDB, CSS, Bootstrap, HTML, Mailgun, pbkdf2)</span>.
  </p>



    <h3>Real Estate Data Scraping (Website Scraping Development)</h3>
    <ul>
      <li>Using BeautifulSoup to parse html and find the items.</li>
      <li>Utilizing pandas to clean data and manipulate data.</li>
      <li>Utilizing pandas pandas to store the data as DataFrame.</li>
      <li>Finally, it stores all data into the csv file and saves it.</li>
    </ul>

    <h3><a href="https://github.com/s777610/530_Project_LA_Crime" target="_blank">Crime Statistics in LA (Data Analysis
        and Visualization)</a></h3>
    <ul>
      <li>Utilizing folium to build Web-Map for visualizing location of crimes.</li>
      <li>Utilizing pandas to clean data and manipulate data.</li>
      <li>Utilizing matplotlib to visualize data in the meaningful way.</li>
    </ul>

    <h3>Moving Object Detection(Image Processing Development)</h3>
    <ul>
      <li>OpenCV to process images.</li>
      <li>Pandas to manipulate data, store data as CSV file.</li>
    </ul>

    <h3>BookStore SQLite Standalone App (Database & GUI Development)</h3>
    <ul>
      <li>Utilizing tkinter to build Graphical User Interface.</li>
      <li>Utilizing sqlite3 to build database to store data.</li>
    </ul>

    <h3>Database of CalMed Care (Database Development)</h3>
    <ul>
      <li>Utilizing MS.SQL and Visio to build database for the hospital.</li>
    </ul>

    <h3>Database of E-commerce Store (Database Development)</h3>
    <ul>
      <li>Utilizing MySQL Workbench to build database for the e-commerce store.</li>
    </ul>

    
  



    <h3>Tiwitter text analysis (Data Visualizaton)</h3>
    <ul>
      <li>Utilizing Python and Twitter streaming API to stream real-time data.</li>
      <li>Loading data into DataFrame and analyzing it, and Utilizing matplotlib to visualize the data.</li>
    </ul>

    

    <h2 class="move-heading" id="pro-development">COMPETITION DEVELOPMENT </h2>
    <hr>
    <h3>Major League Hacking, Long Beach Hackathon 2018</h3>
    <ul>
      <li>Leap Motion</li>
    </ul>
    <h3>Major League Hacking, SF Hackathon 2018</h3>
    <ul>
      <li>Pygame Project</li>
    </ul>
    <h3>Special Competition of CYCU, Taiwan, 2013</h3>
    <ul>
      <li>Automatic Solar Pet House</li>
    </ul>
  </div>


  <div class="clear-float"></div>
  <div class="barrier"></div>

</div>

<div class="popup" id="popup">
    <div class="popup__content">
  <div class="popup__form">
    <form class="contact" action="{{url_for('send_email')}}" method="POST">
      <h2 class="heading-green-dark">Contact Me</h2>
      <a href="#welcome" class="popup__close">&times;</a>
  
        <div class="contact__group">
          <label class="contact__label" for="sender_email">Email address</label>
          <input class="contact__input" type="email"  id="sender_email" placeholder="example@gmail.com" name="sender_email" required>
        </div>
  
        <div class="contact__group">
          <label class="contact__label" for="sender_subject">Subject</label>
          <input class="contact__input" type="text"  name="sender_subject" required>
        </div>
  
        <div class="contact__group">
          <label class="contact__label" for="message">Content</label>
          <textarea class="contact__input"  id="textarea" rows="3" name="message" required></textarea>
        </div>
  
        <div class="contact__group">
          <input class="contact__btn contact__btn__send" type="submit" value="Send">
          <input class="contact__btn contact__btn__reset" type="reset">
        </div>
    </form>
  </div>
  </div>
  </div>


<div class="backtotop">
    <a href="#top" class="btn btn--backtop">Back to top</a>
</div>

{%endblock%}