{%extends "layout.html"%}
{%block content%}

<div class="content-guide">
  <img class="picture" src="https://user-images.githubusercontent.com/35472776/42259943-5b241fea-7f17-11e8-861c-412becf1d44b.jpg" alt="picture">
  <a class="content-guide-item" href="#computer-skill">Computer Skills</a>
  <a class="content-guide-item" href="#education">Education</a>
  <a class="content-guide-item" href="#work-experience">Work Experience</a>
  <a class="content-guide-item" href="#project-experience">Project Experience</a>
  <a class="content-guide-item" href="#pro-development">Competition</a>
  <a class="content-guide-item" href="#popup">Contact Me</a>
</div>



<div class="container-resume">
  <div class="resume">
    <h2 class="move-heading" id="computer-skill">COMPUTER SKILLS</h2>
    <hr>
    <h3>Programming Language</h3>
    <ul>
      <li>Python(Excellent), Javascript(Advanced), CSS(Advanced), SQL(Advanced), HTML, PHP, R</li>
    </ul>
    <h3>Application & Framework</h3>
    <ul>
      <li>React, Vue, JQuery, SASS, Git, Flask, MySQL, PostgreSQL, SQLite, MongoDB, Heroku, AWS</li>
    </ul>

    <br>

    <h2 class="move-heading" id="education">EDUCATION</h2>
    <hr>
    <h3>California Lutheran University, Thousand Oaks, CA</h3>
    <ul>
      <li>Master of Science in Information Technology (current GPA: 3.9/4.0)</li>
    </ul>
    <h3>Chung Yuan Christian University, Taoyuan, Taiwan</h3>
    <ul>
      <li>Bachelor of Mechanical Engineering</li>
    </ul>

    <br>

    <h2 class="move-heading" id="work-experience">WORK EXPERIENCE</h2>
    <hr>

    <h3>Web Scraping Engineer</h2>
    <h3>Tap Series, Westlake, California</h3>
    <ul>
      <li>In charge of scraping financial data from several websites with python.</li><br>
      <li>Working on data visualization for generating financial report with python.</li><br>
      <li>Assessment of SQL query.</li><br>
    </ul>

    <h3>Back-End Web Developer</h2>
    <h3>Locomotives, Changhua, Taiwan</h3>
    <ul>
      <li>In charge of SQL database and backend website development.</li><br>
      <li>Working on customer data visualization with python.</li><br>
    </ul>

    <h3>Technical Support</h2>
    <h3>Internationale Begegnung in Gemeinschaftsdiensten e.v, Germany</h3>
    <ul>
      <li>Working on set up audio equipment.</li>
    </ul>

    <br>

    <h2 class="move-heading" id="project-experience">PROJECT EXPERIENCE</h2>
    <hr>

    <h3><a href="https://github.com/s777610/Flask_RESTful_API_with_SQL" target="_blank">RESTful_API_with_SQL(Back-End
        Development)</a></h3>
    <ul>
      <li>This API is built with Flask, Flask_RESTful, Flask_JWT, and Flask-SQLAlchemy.</li><br>
      <li>This API is deployed on Heroku, provide GET, POST, PUT, DELETE requests.</li><br>
      <li>Using flask JWT extended to generate fresh token and non-fresh token.</li><br>
      <li>The data can be stored in SQLite locally or PostgreSQL remotely.</li><br>
    </ul>

    <h3><a href="https://github.com/s777610/blockchain_cryptocurrency" target="_blank">Half Half Coin System
        (Block-Chain Development)</a></h3>
    <ul>
      <li>It allows users to create wallets, send and receive coins.</li><br>
      <li>The key pair(public key and private key) is generated with wallet.</li><br>
      <li>Users can start mining the new block in order to get the reward</li><br>
      <li>The meaning of mining is doing "proof of work".</li><br>
      <li>Proof of work, which is a processing of guessing the number proof. The users have to hash the combination of
        open transactions, the hash of previous block and proof. After that, the hashed result must start with "00".
        The level of difficulty is adjustable.</li><br>
      <li>All node can make HTTP requests to their peer nodes in order to share their data.</li><br>
      <li>Majority of the process includes different verifications in order to make sure the system is secure.</li><br>
    </ul>

    <h3><a href="https://github.com/s777610/Stock-ETF_investment_web" target="_blank">Stock/ETF investment Web-App
        (Data Analysis and Visualization)</a></h3>
    <ul>
      <li>Getting financial data from IEX API.</li><br>
      <li>Using pandas-datareader to extract data.</li><br>
      <li>Utilizing pandas to clean data and manipulate data.</li><br>
      <li>Utilizing bokeh to build Web-Plot for visualizing financial data.</li><br>
      <li>Utilizing flask as framework to build the web.</li><br>
    </ul>


    <h3><a href="https://github.com/s777610/real_estate_scraping" target="_blank">Real Estate Data Scraping (Website
        Scraping Development)</a></h3>
    <ul>
      <li>Using BeautifulSoup to parse html and find the items.</li><br>
      <li>Utilizing pandas to clean data and manipulate data.</li><br>
      <li>Utilizing pandas pandas to store the data as DataFrame.</li><br>
      <li>Finally, it stores all data into the csv file and saves it.</li><br>
    </ul>

    <h3><a href="https://github.com/s777610/530_Project_LA_Crime" target="_blank">Crime Statistics in LA (Data Analysis
        and Visualization)</a></h3>
    <ul>
      <li>Utilizing folium to build Web-Map for visualizing location of crimes.</li><br>
      <li>Utilizing pandas to clean data and manipulate data.</li><br>
      <li>Utilizing matplotlib to visualize data in the meaningful way.</li><br>
    </ul>

    <h3><a href="https://github.com/s777610/detect_moving_object_from_camera" target="_blank">Moving Object Detection
        (Image Processing Development)</a></h3>
    <ul>
      <li>Utilizing OpenCV to process images.</li><br>
      <li>Utilizing Pandas to manipulate data, store data as CSV file.</li><br>
    </ul>

    <h3><a href="https://github.com/s777610/BookStore_SQLite_DB_Standalone_app" target="_blank">BookStore SQLite
        Standalone App (Database & GUI Development)</a></h3>
    <ul>
      <li>Utilizing tkinter to build Graphical User Interface.</li><br>
      <li>Utilizing sqlite3 to build database to store data.</li><br>
    </ul>

    <h3>Database of CalMed Care (Database Development)</h3>
    <ul>
      <li>Utilizing MS.SQL and Visio to build database for the hospital.</li><br>
    </ul>

    <h3>Database of E-commerce Store (Database Development)</h3>
    <ul>
      <li>Utilizing MySQL Workbench to build database for the e-commerce store.</li><br>
    </ul>

    <h3><a href="https://github.com/s777610/price_alert_for_olinestore" target="_blank">Price Alerts for Online Store
        (Back-End Development)</a></h3>
    <ul>
      <li>Utilizing Flask, a microframework for Python, to build backend.</li><br>
      <li>Utilizing HTML, Bootstrap, CSS to build frontend.</li><br>
      <li>Utilizing pbkdf2 to encrypt sensitive data of users, all data is store in MongoDB.</li><br>
      <li>Utilizing Mailgun API to send emails, the API key is stored as environment variable.</li><br>
      <li>Utilizing regular expression to find the specific store for users.</li><br>
      <li>The price of item could be found by using beautifulsoup to parse html.</li><br>
    </ul>


    <h3><a href="https://github.com/s777610/analysis_twitter_data" target="_blank">Tiwitter text analysis (Data
        Visualizaton)</a></h3>
    <ul>
      <li>Utilizing Python and Twitter streaming API to stream real-time data.</li><br>
      <li>Loading data into DataFrame and analyzing it, and Utilizing matplotlib to visualize the data.</li><br>
    </ul>

    <br>

    <h2 class="move-heading" id="pro-development">COMPETITION DEVELOPMENT </h2>
    <hr>
    <h3>Major League Hacking, Long Beach Hackathon 2018</h3>
    <ul>
      <li>Leap Motion</li>
    </ul>
    <h3>Major League Hacking, SF Hackathon 2018</h3>
    <ul>
      <li>Pygame Project</li>
    </ul>
    <h3>Special Competition of CYCU, Taiwan, 2013</h3>
    <ul>
      <li>Automatic Solar Pet House</li>
    </ul>
  </div>


  <div class="clear-float"></div>
  <div class="barrier"></div>

</div>

<div class="popup" id="popup">
    <div class="popup__content">
  <div class="popup__form">
    <form class="contact" action="https://formspree.io/s777610@gmail.com" method="POST">
      <h2 class="heading-green-dark">Contact Me</h2>
      <a href="#welcome" class="popup__close">&times;</a>
  
        <div class="contact__group">
          <label class="contact__label" for="sender_email">Email address</label>
          <input class="contact__input" type="email"  id="sender_email" placeholder="example@gmail.com" name="_replyto" required>
        </div>
  
        <div class="contact__group">
          <label class="contact__label" for="sender_email">Subject</label>
          <input class="contact__input" type="text"  name="_subject" required>
        </div>
  
        <div class="contact__group">
          <label class="contact__label" for="textarea">Content</label>
          <textarea class="contact__input"  id="textarea" rows="3" name="message" required></textarea>
        </div>
  
        <div class="contact__group">
          <input class="contact__btn contact__btn__send" type="submit" value="Send">
          <input class="contact__btn contact__btn__reset" type="reset">
        </div>
    </form>
  </div>
  </div>
</div>


<div class="backtotop">
    <a href="#top" class="btn btn--backtop">Back to top</a>
</div>

{%endblock%}