{%extends "layout.html"%}
{%block content%}
<link rel="stylesheet" href={{cdn_css | safe}} type="text/css" />

<script type="text/javascript" src={{cdn_js | safe}}></script>

    <div class="container-plot">
        {% if text %}
        <div style="text-align: center; font-size: 20px" class="alert alert-danger" role="alert">{{ text }}</div>
        <div class="barrier"></div>
        <div class="barrier"></div>
        {% else %}
        <p id="top" style="font-size: 20px">NYSEARCA: {{ ticker }}</p>

        {% if today_status == 'Increase' %}
            <h1 class="fa fa-arrow-up" style="color: {{name_color}};font-size:48px">{{ current_price }} <small>USD</small></h1>
        {% else %}
            <h1 class="fa fa-arrow-down" style="color: {{name_color}};font-size:48px">{{ current_price }} <small>USD</small></h1>
        {% endif %}


        <p>Last Updated: {{ last_updated }}</p>
        {% endif %}



<div class="plot">
{{script1 | safe}}
{{div1 | safe}}
    <br>
    <br>
{{script2 | safe}}
{{div2 | safe}}
    <br>
    <br>
{{script3 | safe}}
{{div3 | safe}}
</div>

    </div>

<div class="backtotop">
    <p><a href="#top">Back to top</a></p>
</div>

{%endblock%}