
.menu {
  font-size: 2rem;
  background: rgba($color-black, .4);
  color: $color-white;

  
  &__toggle {
    cursor: pointer;
    color: $color-white;
    font-size: 2.4rem;
    padding: 1rem;
    text-align: right;
    margin-right: 1rem;
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }


  &__navbar {

    @include respond(tab-port) {
      display: none;
    }

    &__flex-box {
      display: flex;
      justify-content: center;

      @include respond(tab-port) {
        flex-direction: column;
        text-align: center;
      }

      li {
        padding: 1rem 2rem;
        font-size: 3rem;
        cursor: pointer;
        transition: all .2s;
  
        &:hover {
          text-shadow: 0 0 1rem $color-white, 0 0 1.5rem $color-white;
          background-color: $color-main-dark;
          box-shadow: 0 0 .3rem $color-white, 0 0 1rem $color-white, 0 0 1.5rem $color-white, 0 0 3rem $color-white;
        }
  
        a {
          color: white;
          text-decoration: none;
          display: inline-flex;
          margin-left: .5rem;
        }
      }
    }
  }
}

.active {
  display: block;
}



.menu-layout {
  border-bottom: $color-grey-darkest 2px solid;
  background: linear-gradient(#94948ff3, #333331b5);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.65);
}

