
.menu {
  display: flex;
  background: rgba($color-black, .4);
  color: $color-white;
  justify-content: center;
  flex-flow: row wrap;
  li {
    padding: 1rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all .2s;

    @include respond(phone) {
      padding: 1rem 1rem;
      font-size: 2rem; 
    }

    &:hover {
      text-shadow: 0 0 .3rem $color-white, 0 0 1rem $color-white, 0 0 1.5rem $color-white, 0 0 3rem $color-white;
      background-color: $color-main-dark;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.menu-layout {
  border-bottom: $color-main 2px solid;
  background: rgba($color-black, .6);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.65);
}