.html-home {
  background: url("../image/home-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.html-home body {
  background: none;
}


.welcome {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  color: $color-white;
  font-size: 2rem; 
  position: relative;
  margin-top: 22vh;
  font-weight: 400;

  &__text-box {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
  }
}