.html-home {
  background: url("../image/home-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.html-home body {
  background: none;
}


.welcome {
  text-align: center;
  color: $color-white;
  font-size: 2rem; 
  position: relative;
  margin-top: 22vh;
  font-weight: 400;

  @include respond(phone) {
    font-size: 1.5rem; 
    margin-top: 19vh;
  }

  &__text-box {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    letter-spacing: .1rem;
    font-size: 2.2rem;

    @include respond(phone) {
      transform: translate(-50%, -30%); 
      width: 35rem;
      font-size: 2rem;
    }
  }
}