.phone-plot {
  width: auto;
  @include respond(phone) {
    width: 100rem;
  }

  // @include respond(tab-port) {
  //   width: 81rem;
  // }
}

.container-plot {
    width: 90rem;
    margin: 0 auto;
    font-size: 3rem;

    

    @include respond(phone) {
      font-size: 2rem;
    }

    .plot-info {
      padding: 4rem;
      margin: 0 auto;
      text-align: center;
    }
  }