.section-def {

  padding: 11rem 0;
  background-image: linear-gradient(to right bottom, rgba(189, 239, 223, 0.8), #6cc76c54), url(../image/home-image.jpg);
  background-size: cover;
  margin-right: 3rem;
  margin-left: 3rem;
  border-radius: 2rem;
  margin-top: 3rem;

  @include respond(phone) {
    padding: 1rem 0;
    background-image: linear-gradient(to right bottom, rgba(189, 239, 223, 0.8), #6cc76c54), url(../image/home-image.jpg);
    background-size: 100%;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
    margin-top: -.4rem;
}

} 


