
.container-resume {
  width: 120rem;
  margin: 3rem auto;
  padding: 1rem;

  @include respond(tab-land) {
    width: auto;  
  }

  @include respond(phone) {
    //width: auto;
    padding: .2rem;
  }

  .resume__btn {
    border-radius: .4rem;
    background-color: $color-main;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
  
  .resume {
    font-family: "Times New Roman", Times, serif;

    @include respond(phone) {
      margin-left: 1rem;
      
    }
    
    h2 {
      font-size: 3.5rem;
      margin-top: 1.5rem;

      @include respond(phone) {
        font-size: 3rem;
        margin-top: 2rem;
      }    
    }

    h3 {
      font-weight: bold;
      font-size: 2.5rem;
      margin-top: 3.5rem;
      margin-bottom: .6rem;

      a {
        text-decoration: none;
        color: $color-main;
        display: inline-block;
        transition: all .2s;
        padding: .2rem;

        &:hover {
          color: $color-white;
          background-color: $color-main;
          border-radius: .2rem;
        }
      }
    }

    ul {
      font-size: 2.2rem;
      padding: .5rem 3rem;
    }

    p {
      font-size: 2.2rem;
      padding-right: 18rem;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;

      .cs-skill {
        font-weight: bold;
        color: $color-main-light;
      }

      @include respond(tab-land) {
        
      }

      @include respond(phone) {
        padding-right: 8rem;
      }  
    }
  }
  
