
div.container-resume {
  width: 80rem;
  margin: 0 auto;
}
  
  .resume {
    font-family: "Times New Roman", Times, serif;
  }
  
  .resume h3 {
    font-weight: bold;
  }
  .resume ul {
    font-size: 2rem;
  }
