
.card-box {
  background-color: rgba($color-white, 0.8);
  font-size: 2rem;
  padding: 2.5rem;
  //text-align: center;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .65);
  transition: transform .3s;
  margin: 0 10rem;

  &:hover {
      transform: translateY(-1.5rem) scale(1.05);
  }

  @include respond(phone) {
    padding: 1rem;
    margin: 0 2rem;
  } 
}