.emailform {
  font-family: Arial Black, Helvetica, Arial, sans-serif;
  margin: 0 auto 5rem auto;
  width: 50rem;
}
.emailform div.form-group input {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.emailform div.form-group textarea {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}
