.emailform {
    font-family:Arial Black, Helvetica, Arial, sans-serif;
    margin: 0 auto 50px auto;
    width: 500px;
}
.emailform div.form-group input{

    font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.emailform div.form-group textarea{

    font-family: Tahoma, Helvetica, Arial, sans-serif;
}