.def {
    width: 75%;
    margin: 0 auto;
    box-shadow: 1rem 3rem 6rem rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    text-align: center;
    font-size: 1.8rem;
    transform: skewX(-12deg);

    &__text {
        transform: skewX(12deg);
    }
}