img.picture {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  border: .7rem solid $color-main;
  border-radius: 2rem;
}

div.content-guide {
  position: fixed;
  right: 1rem;
  bottom: 8rem;
  width: 20rem;
  z-index: 2;
}

div.content-guide a {
  background-color: $color-main;
  color: $color-white;
  font-weight: bold;
  opacity: 0.9;
}
div.content-guide a:hover {
  text-decoration: underline;
}
