/*
   * resume
   */

.move-heading {
  font-weight: bold;
  text-shadow: -.6rem .5rem 1rem rgba($color-text-shadow, 0.55);
  transition: all 0.2s;
  display: inline-block;
}
.move-heading:hover {
  transform: skewY(2deg) skewX(2deg) scale(1.1);
  text-shadow: .5rem 1rem 2rem rgba($color-primary, 0.9);
}

.resume {
  font-family: "Times New Roman", Times, serif;
}

.resume h3 {
  font-weight: bold;
}
.resume ul {
  font-size: 2rem;
}
