
/*
 * Formatting the header area
 */

body {
  margin: 0;
  padding: 0;
}


#demotext {
color: #fff;
text-shadow: 0 0 3px #FFF, 0 0 10px #FFF, 0 0 15px #FFF
}


header div {
  text-align: center;
  background: url("http://zavrel.net/background.jpg");
  background-size: cover;
  color: white;
}

div img {
  width: 160px;
  margin-left: auto;
  margin-right: 350px;

  border: 7px solid white;
  border-radius: 20px;
        }


header div h1.logo {
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size: 3.0em;
  color: #fff;
  float: left;
  margin-top: 8px;
  margin-left: 5px;
}


/*
 * Center the body content
 */

div.container {
  width: 1000px;
  margin: 0 auto;
}


div.jumbotron {
  font-family:"Comic Sans MS", cursive, sans-serif;
}




div.card {
  margin-bottom: 50px;
  margin-left: 50px;

}



div.card-header i.fa button.btn {
  font-family:Arial Black, Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: black;
  text-shadow: -6px 5px 10px rgba(50,113,201,0.55);

}

div.card div.collapse div.card-body {
    font-family:Tahoma, Helvetica, Arial, sans-serif;
    font-size: 18px;
}




ul.menu {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 8px;
        }






ul.menu li {
  display: inline;
  padding: 0px 10px 0px 10px;
}


.menu li a {
  color: #fff;
  text-decoration: none;
}

div.table-responsive {
  margin-bottom: 120px;
}

div.plot {
  margin-bottom: 120px;
}




div.backtotop {
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-family:Arial Black, Helvetica, Arial, sans-serif;
}


div.footer {
   padding: 30px;
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   color: white;
   text-align: center;
}