
/*
 * Formatting the header area
 */

body#body {
  margin: 0 auto;
  padding: 0;
}





header {
  text-align: center;
  background: url("https://user-images.githubusercontent.com/35472776/44134963-dbe22ad0-a01b-11e8-9335-8d2d6ab520f1.jpg");
  background-size: cover;
  color: white;
}

.clear-float {
    clear:both;
}

header img#picture {
  width: 160px;
  margin-left: auto;
  margin-right: auto;

  border: 7px solid white;
  border-radius: 20px;
        }





/*
 * Formatting the newer logo(picture)
 */

header img#logo_light {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width:300px;
  height:150px;
}


/*
 * Formatting the search_form
 */
div#search_form {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

div#search_form p {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}






ul.menu {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 8px;
        }


ul.menu li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size:24px;
}

ul.menu li:hover {
  text-decoration: underline;
  text-shadow: 0 0 3px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 30px #FFF;
}


.menu li a {
  color: #fff;
  text-decoration: none;
}


/*
 * Center the body content
 */

div.container {
  width: 1000px;
  margin: 0 auto;
}


div.jumbotron {
  font-family:"Comic Sans MS", cursive, sans-serif;
}




div.card {
  margin-bottom: 50px;
  margin-left: 50px;

}


div.card-header i.fa button.btn {
  font-family:Arial Black, Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: black;
  text-shadow: -6px 5px 10px rgba(50,113,201,0.55);

}

div.card div.collapse div.card-body {
    font-family:Tahoma, Helvetica, Arial, sans-serif;
    font-size: 18px;
}



div.table-responsive {
  margin-bottom: 120px;
}

div.plot {
  margin-bottom: 120px;
}


div.backtotop {
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-family:Arial Black, Helvetica, Arial, sans-serif;
}


div.footer {
   padding: 30px;
   position: relative;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   background-color: #0B6071;
   color: white;
   text-align: center;
}

/*
 * ETFs
 */

.toggler { width: 500px; position: relative; }
#button { padding: .5em 1em;
          text-decoration: none;
          margin: 20px;}

#effect { width: 900px; height: 100px; padding: 0.4em; position: relative; background: #fff; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center; font-size: 20px}

.newClass {
    font-size: 150%;
}
div.toggler div#effect p {
    font-size: 70%;
}

#gdp_map {
    width: 950px;
    height: 600px;

}

div#gdp_div {
    margin: 0 auto 50px auto;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

div#emailform {
    margin: 0 auto 50px auto;
    width: 50%;
}