/*
  0 - 600px:        Phone
  600 - 900px:      Tablet portrait
  900 - 1200px:     Tablet landscape
  [1200 - 1800]px:  Table portrait
  1800px + :        Big desktop
  
  $breakpoint argument choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
  */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
    /*from left move in*/ }
  40% {
    transform: rotate(10deg); }
  80% {
    transform: translateX(3rem);
    transform: rotate(-10deg); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* mean look like right now*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
    /*from left move in*/ }
  40% {
    transform: rotate(10deg); }
  80% {
    transform: translateX(-3rem);
    transform: rotate(-10deg); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* mean look like right now*/ } }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes blink {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes blink {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.animation-left {
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  /* 0% will not be applied before animation starts */ }

.animation-right {
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  /* 0% will not be applied before animation starts */ }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem black; }
  100% {
    transform: scale(1);
    box-shadow: none; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0; }

div.container {
  width: auto;
  margin: 0 auto; }

.heading-main {
  display: block;
  font-size: 5rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .heading-main {
      font-size: 2.5rem;
      margin-bottom: 1.5rem; } }
  .heading-main__white {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-shadow: -0.6rem 0.5rem 1rem rgba(50, 113, 201, 0.55);
    transition: all 0.3s;
    font-size: 4rem; }
    .heading-main__white:hover {
      transform: skewY(2deg) skewX(2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(19, 78, 145, 0.9); }

.heading-tertiary {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic; }

.heading-green-dark {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 4rem;
  color: #0b6071;
  font-size: 4rem; }
  @media (max-width: 37.5em) {
    .heading-green-dark {
      margin-bottom: 2rem;
      font-size: 2rem; } }

.move-heading {
  font-weight: bold;
  text-shadow: -0.6rem 0.5rem 1rem rgba(50, 113, 201, 0.55);
  transition: all 0.2s;
  display: inline-block; }
  .move-heading:hover {
    transform: skewY(2deg) skewX(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(19, 78, 145, 0.9); }

.center-text {
  text-align: center; }

.margin-bottom-home {
  margin-bottom: 4rem; }
  @media (max-width: 37.5em) {
    .margin-bottom-home {
      margin-bottom: 0; } }

.margin-bottom-small {
  margin-bottom: 1.5rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 37.5em) {
    .margin-bottom-medium {
      margin-top: 2rem; } }

.margin-bottom-big {
  margin-bottom: 8rem; }

.margin-top-top {
  margin-top: 8rem;
  text-align: center; }
  @media (max-width: 37.5em) {
    .margin-top-top {
      margin-top: 4rem; } }

.margin-top-huge {
  margin-top: 10rem; }

div.barrier {
  margin-top: 10rem; }
  @media (max-width: 37.5em) {
    div.barrier {
      display: none; } }

.unset_background_color {
  background: unset !important; }

.clear-float {
  clear: both; }

.text-block {
  color: #000 !important; }

.backtotop {
  font-size: 2rem;
  margin: 1rem auto 2rem auto;
  text-align: center;
  text-decoration: none; }
  .backtotop p a {
    text-decoration: none; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1rem;
  display: inline-block;
  border-radius: 0.7rem;
  transition: all 0.2s;
  margin: 1rem 1rem; }

.btn-pulsate {
  animation: pulsate 1s infinite; }

.btn--green {
  background-color: #7ed56f;
  color: #fff; }
  .btn--green::after {
    background-color: #fff; }

.btn--blue {
  background-color: #48a0f3;
  color: #fff; }
  .btn--blue::after {
    background-color: #fff; }

.btn--backtop {
  background-color: #0b6071;
  color: #fff; }
  .btn--backtop::after {
    background-color: #fff; }

.btn:hover {
  transform: translateY(-0.3rem);
  /*move up*/
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.5);
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.contact__group:not(:last-child) {
  margin-bottom: 2rem; }

.contact__input {
  font-size: 1.7rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  .contact__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #134e91; }
  .contact__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .contact__input::-webkit-input-placeholder {
    color: #777; }

.contact__label {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block; }

.contact__btn {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  height: 4rem;
  width: 8rem;
  border-radius: 10%;
  display: inline-block;
  position: relative;
  margin-right: 2rem;
  transition: all 0.2s;
  cursor: pointer; }
  .contact__btn__send {
    background-color: #134e91;
    color: #fff; }
  .contact__btn__reset {
    background-color: #fff;
    color: #777; }
  .contact__btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5); }
    .contact__btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }

img.picture {
  max-width: 160px;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  border: 0.7rem solid #0b6071;
  border-radius: 2rem; }
  @media (max-width: 75em) {
    img.picture {
      width: 15rem; } }
  @media (max-width: 37.5em) {
    img.picture {
      display: none; } }

.content-guide {
  position: fixed;
  right: 1rem;
  bottom: 8rem;
  max-width: 170px;
  width: 18rem;
  z-index: 2;
  padding-left: 0;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none; }
  @media (max-width: 75em) {
    .content-guide {
      width: 15rem;
      right: 0rem; } }
  @media (max-width: 37.5em) {
    .content-guide {
      border: solid #0b6071;
      border-radius: 0.5rem;
      width: 10rem;
      right: 0rem; } }
  .content-guide a {
    background-color: #0b6071;
    color: #fff;
    font-weight: bold;
    opacity: 0.9;
    text-decoration: none;
    font-size: 2rem; }
    @media (max-width: 37.5em) {
      .content-guide a {
        font-size: 1.9em;
        padding: 1rem 0rem; } }
    .content-guide a:hover {
      text-decoration: underline;
      outline: 0; }
    .content-guide a:active {
      outline: 0; }
  .content-guide-item {
    position: relative;
    display: block;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border: 0.1rem solid #a9a9b1;
    transition: all 0.2s; }
    .content-guide-item:focus, .content-guide-item:hover {
      color: #0b6071;
      text-decoration: none;
      background-color: #fff; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 0;
  display: none;
  transition: all 0.5s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-image: linear-gradient(to right bottom, #b6ebb6, #1a631a);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
    transition: all 0.4s 0.2s;
    width: 90%; }
    @media (max-width: 37.5em) {
      .popup__content {
        width: 90%; } }
  .popup__form {
    position: relative;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media (max-width: 37.5em) {
      .popup__form {
        padding: 1rem 0.5rem; } }
  .popup:target {
    opacity: 1;
    display: unset; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #fff;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 4.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popup__close:hover {
    color: #134e91; }

.search {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
  color: #fff; }
  .search p {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem; }
  .search__form {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    .search__form_input {
      border: 3px solid #fff;
      color: #fff;
      font-size: 2rem;
      background: none;
      text-align: center;
      max-width: 15rem;
      transition: all 0.2s; }
      .search__form_input::-webkit-input-placeholder, .search__form_input::-moz-placeholder, .search__form_input:-ms-input-placeholder, .search__form_input:-moz-placeholder {
        color: rgba(255, 255, 255, 0.4); }
      .search__form_input:hover {
        box-shadow: 0 0 0.3rem #fff, 0 0 1rem #fff, 0 0 1.5rem #fff, 0 0 3rem #fff;
        max-width: 20rem; }
      .search__form_input:focus {
        box-shadow: 0 0 0.3rem #fff, 0 0 1rem #fff, 0 0 1.5rem #fff, 0 0 3rem #fff;
        max-width: 20rem; }
      @media (max-width: 56.25em) {
        .search__form_input {
          width: 13rem;
          font-size: 1.8rem; } }
      @media (max-width: 37.5em) {
        .search__form_input {
          width: 12rem;
          font-size: 1.7rem; } }
    .search__form_btn {
      background-color: #28b485;
      border: 0.2rem solid #fff;
      transition: all 0.2s;
      color: inherit;
      font-weight: 700;
      cursor: pointer;
      font-size: 2rem; }
      @media (max-width: 56.25em) {
        .search__form_btn {
          font-size: 1.8rem; } }
      @media (max-width: 37.5em) {
        .search__form_btn {
          font-size: 1.7rem; } }
      .search__form_btn:hover {
        background-color: #7ed56f; }

.error {
  height: 90vh;
  margin: 10rem auto;
  text-align: center;
  font-size: 2rem; }
  .error h1 {
    color: #f53a43; }
  .error a {
    font-size: 4rem; }

.confirmation {
  height: 90vh;
  margin: 10rem auto;
  text-align: center;
  font-size: 2rem; }
  .confirmation h1 {
    color: #0b6071; }
  .confirmation a {
    font-size: 4rem; }

.footer {
  padding: 6rem 0;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #0b6071;
  color: #fff;
  text-align: center;
  z-index: 1;
  font-size: 2rem;
  border-top: 0.2rem solid #000; }
  .footer ul.social {
    padding-bottom: 1rem; }
    .footer ul.social li {
      display: inline;
      font-size: 5rem; }
      @media (max-width: 37.5em) {
        .footer ul.social li {
          font-size: 3rem; } }
      .footer ul.social li a i {
        color: #fff;
        padding: 0 1rem;
        transition: all 0.2s; }
        .footer ul.social li a i:hover {
          text-shadow: 0 0 0.3rem #fff, 0 0 1.5rem #fff, 0 0 3rem #fff; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 37.5em) {
    .row {
      margin-right: 0 !important;
      margin-left: 0 !important; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 75em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
    @media (max-width: 37.5em) {
      .row .col-1-of-2 {
        width: auto; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: auto; } }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
    @media (max-width: 37.5em) {
      .row .col-2-of-3 {
        width: auto; } }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
    @media (max-width: 37.5em) {
      .row .col-1-of-4 {
        width: auto; } }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem)) / 4 + 6rem); }
    @media (max-width: 37.5em) {
      .row .col-2-of-4 {
        width: auto; } }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem)) / 4 + 2 * 6rem); }
    @media (max-width: 37.5em) {
      .row .col-3-of-4 {
        width: auto; } }

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#0b6071, #0f610a); }
  .header__logo {
    width: 30rem; }
    @media (max-width: 37.5em) {
      .header__logo {
        width: 15rem; } }
    .header__logo a img {
      width: 100%; }
  .header__search {
    color: #fff;
    font-size: 2rem;
    margin: 0 1rem; }
    .header__search p {
      margin: 1rem;
      text-align: center; }

.menu {
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.4);
  color: #fff; }
  .menu__toggle {
    cursor: pointer;
    color: #fff;
    font-size: 2.4rem;
    padding: 1rem;
    text-align: right;
    margin-right: 1rem;
    display: none; }
    @media (max-width: 56.25em) {
      .menu__toggle {
        display: block; } }
  @media (max-width: 56.25em) {
    .menu__navbar {
      overflow: hidden;
      max-height: 0; } }
  .menu__navbar__flex-box {
    display: flex;
    justify-content: center; }
    @media (max-width: 56.25em) {
      .menu__navbar__flex-box {
        flex-direction: column;
        text-align: center; } }
    .menu__navbar__flex-box li {
      padding: 1rem 2rem;
      font-size: 3rem;
      cursor: pointer;
      transition: all 0.2s;
      display: inherit; }
      @media (max-width: 75em) {
        .menu__navbar__flex-box li {
          padding: 1rem 1.2rem; } }
      @media (max-width: 56.25em) {
        .menu__navbar__flex-box li {
          display: unset; } }
      .menu__navbar__flex-box li:hover {
        text-shadow: 0 0 1rem #fff, 0 0 1.5rem #fff;
        background-color: #113a42;
        box-shadow: 0 0 0.3rem #fff, 0 0 1rem #fff, 0 0 1.5rem #fff, 0 0 3rem #fff; }
      .menu__navbar__flex-box li a {
        color: white;
        text-decoration: none;
        display: inline-flex;
        margin-left: 0.5rem; }

.active {
  max-height: 100%; }

.menu-layout {
  border-bottom: #4d4c4c 2px solid;
  background: linear-gradient(#94948ff3, #333331b5);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.65); }

.section-card {
  padding: 14rem 0;
  background-image: linear-gradient(to right bottom, rgba(189, 239, 223, 0.8), #6cc76c54), url(../image/home-image.jpg);
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: 22rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem; }
  @media (max-width: 37.5em) {
    .section-card {
      padding: 3rem 0;
      background-size: 100%;
      transform: skewY(0);
      margin-top: -0.5rem;
      margin-right: 0;
      margin-left: 0; } }
  .section-card > * {
    transform: skewY(7deg); }
    @media (max-width: 37.5em) {
      .section-card > * {
        transform: skewY(0); } }

.section-map {
  width: 90rem;
  margin: 10rem auto;
  text-align: center;
  font-size: 3rem; }
  @media (max-width: 56.25em) {
    .section-map {
      display: none; } }
  .section-map .map {
    width: 90rem;
    height: 60rem; }

@media (max-width: 56.25em) {
  .map-item {
    display: none; } }

.terminal {
  width: 75%;
  margin: 0 auto;
  box-sizing: border-box; }
  @media (max-width: 37.5em) {
    .terminal {
      width: 95%; } }
  .terminal__bar {
    height: 3.5rem;
    background-color: #bbb;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem; }
    .terminal__bar__btn {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      border: 0.1rem solid #000;
      position: relative;
      top: 0.6rem;
      left: 0.6rem;
      display: inline-block;
      margin-right: 0.8rem; }
      .terminal__bar__btn-close {
        background-color: #ff3b47;
        border-color: #9d252b; }
      .terminal__bar__btn-minimize {
        left: 11px;
        background-color: #ffc100;
        border-color: #9d802c; }
      .terminal__bar__btn-zoom {
        left: 16px;
        background-color: #00d742;
        border-color: #049931; }
  .terminal__screen {
    background-color: #151515;
    padding: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }
    .terminal__screen--text {
      margin: 0 auto;
      font-size: 2rem;
      font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
      white-space: normal; }
      .terminal__screen--text-title {
        color: #9cd9f0;
        font-size: 3rem; }
      .terminal__screen--text-context {
        color: #cdee69; }
      .terminal__screen--text-cursor1 {
        color: #fff; }
      .terminal__screen--text-cursor2 {
        color: #fff;
        font-weight: bold;
        -webkit-animation: blink 1s 0.5s infinite;
        -moz-animation: blink 1s 0.5s infinite;
        -o-animation: blink 1s 0.5s infinite;
        animation: blink 1s 0.5s infinite; }

.card-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2.2rem;
  padding: 2.5rem;
  line-height: 150%;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.65);
  transition: transform 0.3s;
  margin: 0 10rem; }
  .card-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }
  @media (max-width: 37.5em) {
    .card-box {
      font-size: 2rem;
      padding: 1rem;
      margin: 0 2rem;
      line-height: 140%; } }

.body-home {
  background: url("../image/home-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.welcome {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 8rem auto; }
  @media (max-width: 37.5em) {
    .welcome {
      margin: 3rem auto; } }
  .welcome__text {
    line-height: 4rem; }
    @media (max-width: 37.5em) {
      .welcome__text {
        line-height: 3rem; } }
    .welcome__text p {
      font-size: 3rem; }
      @media (max-width: 37.5em) {
        .welcome__text p {
          font-size: 2.5rem; } }
  .welcome__btn {
    display: flex;
    justify-content: center; }
    .welcome__btn a {
      margin: 0 2rem; }

.intro {
  background-color: #f7f7f7;
  padding: 25rem 0;
  height: fit-content;
  margin-top: 40rem; }
  @media (max-width: 75em) {
    .intro {
      padding: 20rem 0; } }
  @media (max-width: 56.25em) {
    .intro {
      margin-top: 25rem;
      padding: 5rem 0;
      height: unset; } }
  .intro__box {
    padding: 2rem; }
  .intro__title {
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
    font-size: 4rem;
    margin-bottom: 6rem;
    width: 100%;
    text-align: center; }

.paragraph__title {
  font-size: 3rem; }

.paragraph__text {
  font-size: 2.2rem;
  line-height: 150%; }
  .paragraph__text:not(:last-child) {
    margin-bottom: 3rem; }
  @media (max-width: 37.5em) {
    .paragraph__text {
      font-size: 2rem;
      padding: 1rem;
      line-height: 140%; } }

.composition {
  position: relative;
  height: fit-content; }
  @media (max-width: 75em) {
    .composition {
      margin: 10rem; } }
  @media (max-width: 37.5em) {
    .composition {
      margin: unset;
      margin-top: 4rem; } }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    @media (max-width: 75em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 75em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 75em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 11rem; }
      @media (max-width: 75em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #0b6071;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.alert {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 90rem;
  margin-top: 3rem;
  color: #f53a43;
  text-align: center; }

.stockInfo {
  width: 80%;
  margin: 0 auto;
  font-size: 3rem; }
  @media (max-width: 37.5em) {
    .stockInfo {
      width: 95%; } }
  .stockInfo__info {
    padding: 4rem;
    display: flex; }
    @media (max-width: 37.5em) {
      .stockInfo__info {
        padding: 0;
        flex-direction: column; } }
    .stockInfo__info__box {
      width: 50%;
      font-size: 2.5rem;
      border-right: 0.2rem solid #478996;
      margin-right: 2rem;
      padding-right: 2rem;
      text-align: center; }
      @media (max-width: 37.5em) {
        .stockInfo__info__box {
          width: auto;
          border-right: none;
          margin: auto;
          padding-right: 0; } }
      .stockInfo__info__box__logo {
        height: 15rem;
        border-radius: 1rem;
        border: 0.2rem solid #dad6d6;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
        margin-bottom: 1rem;
        max-width: 100%; }
        @media (max-width: 37.5em) {
          .stockInfo__info__box__logo {
            margin-right: 1rem;
            float: left;
            max-width: 37rem; } }
      .stockInfo__info__box__desc {
        font-size: 2.15rem;
        text-align: -webkit-auto; }
    .stockInfo__info__text {
      line-height: 4.5rem;
      display: flex;
      flex-direction: column; }
      .stockInfo__info__text .curGreen {
        color: green; }
      .stockInfo__info__text .curRed {
        color: red; }
      .stockInfo__info__text__btn, .stockInfo__info__text__btn:link, .stockInfo__info__text__btn:visited {
        margin-top: auto;
        cursor: pointer;
        background-color: #0b6071;
        border-radius: 0.5rem;
        transition: all 0.2s;
        padding: 0.5rem;
        text-align: center;
        width: 30%; }
      .stockInfo__info__text__btn:hover {
        transform: translateY(-0.2rem);
        /*move up*/
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }
      .stockInfo__info__text__btn .company__web__link {
        text-decoration: none;
        color: #fff; }

.plot {
  width: 90rem;
  margin: 0 auto;
  font-size: 3rem; }
  @media (max-width: 56.25em) {
    .plot {
      display: none; } }

.section-def {
  padding: 11rem 0;
  background-image: linear-gradient(to right bottom, rgba(189, 239, 223, 0.8), #6cc76c54), url(../image/home-image.jpg);
  background-size: cover;
  margin-right: 3rem;
  margin-left: 3rem;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: #0b6071 0.2rem solid; }
  @media (max-width: 37.5em) {
    .section-def {
      padding: 1rem 0;
      background-size: 100%;
      margin-right: 0;
      margin-left: 0;
      border-radius: 0;
      margin-top: -0.4rem;
      margin-bottom: 0;
      height: 110%;
      padding-bottom: 3rem; } }

.def {
  width: 75%;
  margin: 0 auto;
  box-shadow: 1rem 3rem 6rem rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  text-align: center;
  font-size: 2rem;
  transform: skewX(-12deg); }
  .def__text {
    transform: skewX(12deg); }
  @media (max-width: 37.5em) {
    .def {
      width: 80%;
      padding: 3rem;
      padding-left: auto;
      font-size: 2rem; } }

.list {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 5rem auto;
  width: 65%;
  border-radius: 1rem; }
  @media (max-width: 37.5em) {
    .list {
      margin: 2rem auto;
      width: 96%; } }

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  border-collapse: separate;
  border-color: #777;
  font-size: 1.7rem; }
  @media (max-width: 37.5em) {
    table {
      font-size: 1.5rem; } }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem; }
  .table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
    border: #0b6071 0.2rem solid;
    border-radius: inherit;
    box-shadow: 1rem 3rem 6rem rgba(0, 0, 0, 0.7); }
    @media (max-width: 37.5em) {
      .table-responsive {
        margin-bottom: 0 !important; } }

.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
  border-top: 0; }

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0.2rem solid #777; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 0.8rem;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 0.1rem solid #777; }

th {
  text-align: left; }

.projects {
  margin: 9rem auto;
  display: grid;
  grid-gap: 6rem;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
  @media (max-width: 37.5em) {
    .projects {
      margin: 3rem auto; } }
  .projects .project {
    background-color: #f9f7f6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 1rem 3rem 6rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s; }
    .projects .project:hover {
      transform: scale(1.07); }
    .projects .project:hover .project__link {
      background-color: #0b6071; }
    .projects .project__name {
      background-color: #28b485;
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      align-self: end;
      z-index: 3;
      width: 80%;
      padding: 1rem;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      transform: translateY(50%); }
    .projects .project__img {
      width: 100%;
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      z-index: 1; }
    .projects .project__type {
      background-color: #28b485;
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      justify-self: center;
      align-self: end;
      z-index: 3;
      font-size: 2rem;
      text-align: center;
      padding: 1rem;
      color: #fff;
      transform: translateY(50%); }
    .projects .project__skills {
      grid-column: 1 / -1;
      margin-top: 3rem;
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 3rem;
      align-items: center;
      justify-items: center; }
      .projects .project__skills .skill {
        font-size: 2rem; }
    .projects .project__link {
      background-color: #28b485;
      grid-column: 1 / -1;
      justify-self: center;
      font-size: 2rem;
      padding: 1rem;
      width: 100%;
      text-align: center;
      cursor: pointer; }
      .projects .project__link:hover {
        background-color: #7ed56f !important; }
      .projects .project__link a {
        color: #fff;
        text-decoration: none; }

.container-resume {
  width: 120rem;
  margin: 3rem auto;
  padding: 1rem; }
  @media (max-width: 75em) {
    .container-resume {
      width: auto; } }
  @media (max-width: 37.5em) {
    .container-resume {
      padding: 0.2rem; } }
  .container-resume .resume__btn {
    border-radius: 0.4rem;
    background-color: #0b6071;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600; }

.resume {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.2rem;
  line-height: 150%; }
  @media (max-width: 37.5em) {
    .resume {
      margin-left: 1rem; } }
  .resume h2 {
    font-size: 3.5rem;
    margin-top: 5rem; }
    @media (max-width: 37.5em) {
      .resume h2 {
        font-size: 3rem;
        margin-top: 2rem; } }
  .resume h3 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 0.6rem; }
    .resume h3 a {
      text-decoration: none;
      color: #0b6071;
      display: inline-block;
      transition: all 0.2s;
      padding: 0.2rem; }
      .resume h3 a:hover {
        color: #fff;
        background-color: #0b6071;
        border-radius: 0.2rem; }
  .resume ul {
    font-size: 2.2rem;
    padding: 0.5rem 3rem; }
  .resume p {
    padding-right: 18rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    .resume p .cs-skill {
      font-weight: bold;
      color: #478996; }
    @media (max-width: 37.5em) {
      .resume p {
        padding-right: 8rem; } }
